@import './variables';

.pickerSelected {
  display: flex;
  flex-direction: row;
  cursor: pointer;

  &.collapsed {
    width: 100%;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    flex-direction: row;

    &__logo {
      display: flex;
      align-items: center;
      margin-right: 5px;
    }
  
    &__title {
      display: flex;
      align-items: center;
      margin-right: 5px;
  
      &.active {
        color: $yellow !important;
      }
    }
  }

  &__chevron {
    &.active {
      color: $yellow !important;
    }
  }
}

.picker-accordion-row {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;

  &:hover {
    p {
      color: $yellow !important;
    }
  }
}

.picker-item-logo {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.picker-item-title {
  display: flex;
  align-items: center;
}